{% extends 'dashboard.html.twig' %}

{% block body %}
    <h1>Avi</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Corp</th>
                <td>{{ avi.corp }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ avi.rate }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if avi.createdAt %}{{ avi.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_dashboard_avis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_dashboard_avis_edit', { 'id': avi.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
